html {background-color: var(--tan)}

/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
     --dark: #2B1809;
    --tan: #CDBAA5;
    --grey: white;
}

/* Reset */
*{
    
    padding: 0;
    box-sizing: border-box;max-width: 1700px; margin: auto;
}

body{
    background-color: white;
    font-family: "Poppins", sans-serif;
    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
.header{
    background-color: var(--tan);
    box-shadow: 1px 0px 40px 0px black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    border-radius: 9px;
    
}

/* Logo */
.logo{
    display: inline-block;
    color: var(--dark);
    font-size: 60px;
    margin-left: 10px;
    margin-top: 7px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--tan);
    overflow: hidden; 
    margin-top: 10px;  
}

.menu a,.menu p{
    display: block;
    padding: 30px;
    color: var(--dark);

}

.menu a:hover{
    background-color: var(--grey);
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Sub nav */
.subnav-content {
    background-color:  var(--dark);
    width: 100%;
    z-index: 1;
    padding: 20px 0 ;
    display: none;
  }
.subnav-content a {
    color: var(--tan);
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}
.subnav:hover .subnav-content {
    display: block;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line {
    background: var(--dark);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--dark);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/* Responsiveness menu */

@media (min-width: 800px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;

    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: var(--grey);
        
    }
    
    .hamb{
        display: none;
    }

        /* Sub nav */
    .subnav-content {
        padding: 20px 0 ;
        display: none;
        background-color:  var(--black);
    }
    .subnav-content a {
        color: white;
    }

}







#headerhome { display: inline-block; background-position: center-top;
    background-image: url('https://raw.githubusercontent.com/codingfreak420/sidebar/main/images/bluetruck.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    margin-top: 100px;
}
#headerhome img {
    display: block;
    visibility: hidden; /*hidden but reserve the space*/
    width: 100%;
    height: auto;
}

#headerhomecontent {text-align: center;}

.columnquote {  
    float: left;
    width: 70%;
    margin-top: -18%;
    }

.columnapply {float: right;
width: 30%; margin-top: -20%;
}
#twodecades {font-size: 35px;font-family: 'Rubik Mono One', sans-serif; color: var(--dark);}
#applyhome {margin-top:20px; height: 40px; width: 200px; border-color: var(--dark);border-width: 5px; background-color: transparent;
color: var(--dark); font-size: 25px}
#applyhome:hover {background-color: var(--tan)}
#quotehome {height: 40px; width: 200px;border-color: var(--dark);border-width: 5px; background-color: transparent;
color: var(--dark); font-size: 25px}
#quotehome:hover {background-color: var(--tan)}

.homemaintwotext { font-size: 25px; 
  display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 15px;
    margin: 0rem 0 3rem 0rem;
margin-top: 17px; }
.homemaintwo {width: 100%; border: none; height: 160px; background-color: var(--dark); border-radius: 5px;
             }
.homemaintwoicons {list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1rem 0 3rem 0;}

.homemaintwoicons > .material-symbols-outlined { color: white; font-size: 80px;  }
.gps {padding-left: 40px;}
.dedicatedlanes {padding-left: 75px;}
.fambusi {padding-left: 4rem;}
.ilp {padding-right: -70px ;}

.homemainthree {width: 100%; border: none; text-align: center;  display: inline-block;  height: auto; background-color: var(--tan)}



h6 {margin-top: 15px}
.aboutus {
    float: left;
    width: 55%;
    margin-left: 10px
    
    }

.aboutusphoto {float: right; width: 40%
}


#aboutus {font-size: 15px;font-family: 'Rubik Mono One', sans-serif; color: var(--dark);  height: auto; margin-top: 10px;}

#aboutusphoto {border-radius: 50px;width: 95%; border: solid; height: auto; border-radius: 50px; }

#testimonial2 {font-family: 'Kalam', cursive; font-size: 30; margin-left: 5%; margin-right: 5%; margin-top: 50px;}.material-symbols-outlined {color: gold}

/*application*/
#mainapp {text-align: center;  display: inline-block; margin-left: 3%; margin-right: 3%; margin-top: 100px; }
.required_line_required_asterisk {color: red;}
.appdescription {font-size: 30}

.column {  
    float: left;
    width: 45%;
    }


.column1 {float: right;
width: 45%; 
margin-right: 20px;}


.nighttruck {border-radius: 50px; max-width: 80%; height: auto;}

#testimonial1 {font-family: 'Kalam', cursive; font-size: 30; margin-left: 5%; margin-right: 5%;}
.tanquotes {color: #CDBAA5 }
.material-symbols-outlined {color: gold;
}
/*app responsivness*/
@media screen and (max-width: 895px) {
  .column {
    float: none;
    width: 100%;
  }

  .column1 {
    float: none;
    width: 100%;
  }}


