html {background-color: var(--tan)}

/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
     --dark: #2B1809;
    --tan: #CDBAA5;
    --grey: white;
}

/* Reset */
*{
    
    padding: 0;
    box-sizing: border-box;max-width: 1700px; margin: auto;
}

body{
    background-color: white;
    font-family: "Poppins", sans-serif;
    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
.header{
    background-color: var(--tan);
    box-shadow: 1px 1px 5px 0px black;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto9
    padding-top: 5px;
    border-radius: 9px; 
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--green);
    font-size: 60px;
    margin-left: 10px;

}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
    
}

.menu a,.menu p{
    display: block;
    padding: 30px;
    color: var(--dark);
    background-color: var(--tan);

}

.menu a:hover{
    background-color: var(--grey);
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Sub nav */
.subnav-content {
    background-color:  var(--tan);
    width: 100%;
    z-index: 1;
    padding: 20px 0 ;
    display: none;
  }
.subnav-content a {
    color: var(--dark);
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    
}
.subnav:hover .subnav-content {
    display: block;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line {
    background: var(--dark);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--dark);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}



/* Responsiveness menu */

@media (min-width: 800px) {
        .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: var(--tan);

    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: var(--grey);
        
    }
    
    .hamb{
        display: none;
    }

        /* Sub nav */
    .subnav-content {
        padding: 20px 0 ;
        display: none;
    }
    .subnav-content a {
        background-color: white;
        border: none;
        border-radius: 5px;
    
    }
.subnav-content a:hover {color: var(--dark);}
}


/*footer*/
@media screen and (max-width: 580px){
  
  .footer-bottom p{float: none; margin-top: -2%}
  .footer-menu{float: none;}
  
}


#headerhome { display: inline-block; background-position: center-top;
    background-image: url('https://raw.githubusercontent.com/codingfreak420/sidebar/main/images/Screen%20Shot%202023-05-09%20at%2010.51.03%20PM.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    margin-top: 75px;
}
#headerhome img {
    display: block;
    visibility: hidden; /*hidden but reserve the space*/
    width: 100%;
    height: auto;
}

#headerhomecontent {text-align: center;}

.columnquote {  
    float: left;
    width: 70%;
    margin-top: -35%;
    }

.columnapply {float: right;
width: 30%; margin-top: -33%;
}
#twodecades {font-size: 65px;font-family: 'Rubik Mono One', sans-serif; color: var(--dark);}
#applyhome {margin-top:20px; height: 60px; width: 240px; border-color: var(--dark);border-width: 8px; background-color: transparent;
color: var(--dark); font-size: 35px}
#applyhome:hover {background-color: var(--tan)}
#quotehome {height: 60px; width: 240px;border-color: var(--dark);border-width: 8px; background-color: transparent;
color: var(--dark); font-size: 35px}
#quotehome:hover {background-color: var(--tan)}

.homemaintwo {background-color: #2B1809; border: solid, 3px; border-color: #2B1809 ; height: 140px; border-radius: 3px; margin-top: -5px;}
.homemaintwocolumn {width: 47%; float: left; border: none; margin-top: 2%;}
.homemaintwotext {
display: flex;
    align-items: left;
    justify-content: space-evenly;
    width: 95%;
    font-size: 20px; border: none; color: white;}
.homemaintwoicons {
  display: flex;
    justify-content: space-around;
    width: 95%; border: none;}
.homemaintwoicons >.material-symbols-outlined {font-size: 50px; color: white}
.homemaintwocolumn1 {width: 47%; float: right; border: none; margin-top: 2%;}
.homemaintwotext1 {
display: flex;
    justify-content: space-evenly;
    width: 95%;
    font-size: 20px; border: none; color: white; margin-right: -1px}
.homemaintwoicons1 {
  display: flex;
    justify-content: space-around;
    width: 95%; border: none;}

/*responsiveness homemaintwo*/  

@media screen and (max-width: 1185px){
.homemaintwo {height: 180px;}  
.homemaintwocolumn {width: 96%; float: none; margin-top: 1%}
.homemaintwocolumn1 {width:96%; float: none;}

}
/*aboutus*/
.homemainthree {width: 100%; border: none; text-align: center;  display: inline-block;  height: auto; background-color: var(--tan)}



h6 {margin-top: 15px}
.aboutus {
    float: left;
    width: 55%;
    margin-left: 10px
    
    }

.aboutusphoto {float: left; width: 40%
}
.aboutusphoto1 {float: right; width: 40%
}

#aboutus {font-size: 20px;font-family: 'Rubik Mono One', sans-serif; color: var(--dark);  height: auto; margin-top: 10px;}

#aboutusphoto {border-radius: 35px;width: 95%; border: solid; height: auto; margin-top: 20px;  }
#aboutusphoto1 {border-radius: 35px;width: 95%; border: solid; height: auto; margin-right: 20%; border-color: var(--dark); margin-top: 15px; }

#testimonial2 {font-family: 'Kalam', cursive; font-size: 30; margin-left: 5%; margin-right: 5%; margin-top: 50px;}.material-symbols-outlined {color: gold}


@media screen and (max-width: 1335px){
    #twodecades {margin-top: -525px }
    #quotehome {margin-top: -15px}

}
@media screen and (max-width: 970px) {
  #twodecades {margin-top: -370px;
  font-size: 45px}
  #quotehome {margin-top: -15px; font-size: 25px; height: 50px; width: 175px}
  #applyhome { font-size: 25px; height: 50px; width: 175px}
  } 
  
@media screen and (max-width: 780px) {
  #twodecades {font-size: 30px; margin-top: -255px;}
  #quotehome {margin-top: -1px; font-size: 20px; height: 40px; width: 140px}
  #applyhome { font-size: 20px; height: 40px; width: 140px}
  } 


 @media screen and (max-width: 580px){
    .aboutus {float: none; width: 100%}
    .aboutusphoto {float: none; width: 100%; margin-top: 10px;}
    .aboutusphoto1 {float: none; width: 100%; margin-top: 10px;}
    #aboutusphoto {float: none; }
    #aboutusphoto1 {float: none; margin-right: 0; }
    .aboutus {
    float: none;
    width: 100%;
    margin-left: 0px
    }
    #twodecades {font-size: 33px; margin-top: -215px;}
#quotehome {margin-top: -15px; font-size: 20px; height: 40px; width: 140px}
  #applyhome { font-size: 20px; height: 40px; width: 140px; }
 }
@media screen and (max-width: 500px) {
  #twodecades {font-size: 25px; margin-top: -180px;}
  #quotehome {margin-top: -15px; font-size: 15px; height: 35px; width: 100px}
  #applyhome { font-size: 15px; height: 35px; width: 100px; } 
.homemaintwotext {font-size: 13px}
.homemaintwoicons {font-size: 13px}
.homemaintwocolumn {margin-top: 4%}
.homemaintwotext1 {font-size: 13px;}
.homemaintwoicons1 {font-size: 13px}
.ilp {margin-left: 7%}
.fambusi {margin-right: 10%}
 #testimonial2 {margin-top: 30px;}
  } 
  @media screen and (max-width: 450px) {
      #twodecades {font-size: 18px; margin-top: -130px;}
      #quotehome { font-size: 10px; height: 35px; width: 80px}
  #applyhome { font-size: 10px; height: 35px; width: 80px; } 
  }

#mainapp {text-align: center;  display: inline-block;  margin-top: 100px; border: none; border-radius: 5px; height: auto}
.required_line_required_asterisk {color: red;}
.appdescription {font-size: 30px}
#driverappset {border: none;}
.column {  
    float: left;
    width: 45%;
    }


.column1 {float: right;
width: 45%; 
margin-right: 20px;}
.nighttruck {border-radius: 50px; max-width: 80%; height: auto;}

#testimonial1 {font-family: 'Kalam', cursive; font-size: 30px; margin-left: 5%; margin-right: 5%;}
.tanquotes {color: #CDBAA5 }
.material-symbols-outlined {color: gold;
}

#appstyle {border-left:none;border-right:none;border-top:none;border-bottom: solid; width: 90%; border-color: var(--tan); margin-left: 5%; margin-right: 5%; border-radius: 9px;}
/*app responsivness*/
@media screen and (max-width: 895px) {
  .column {
    float: none;
    width: 100%;
  }

  .column1 { margin-top: 35px;
    float: none;
    width: 100%;
  }}
#appstyle > option {text-align: center;}

}

}
